<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="ws_host" content="{{config.ws.host}}" />
        <meta name="ws_port" content="{{config.ws.port}}" />
        <title>{{config.web.title}}</title>
        <link rel="icon" href="static/image/logo.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="static/scss/main.css?v={{config.version}}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="app" class="vapaa-cruiser">
            <div class="topbar">
                <img class="icon" src="static/image/logo.png">
                <div class="title">田間巡航艦</div>
                <div class="spacer"></div>
                <button type="button" class="btn btn-dark mx-2" @click="Logout();">設定</button>
            </div>
            
            <div class="container-fluid text-center main-content">
                <div class="row">
                    <div class="col-md">
                        <div class="card h-100">
                            <div class="map-container">
                                <div class="map" id="map"></div>
                            </div>
                            <div class="card-footer">
                                <div class="card-title">路徑</div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-md">
                        <div class="card h-100">
                            <img class="card-img-top" :src="imageData.frontRGB">
                            <div class="card-footer">
                                <div class="card-title">前鏡頭</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card h-100">
                            <img class="card-img-top" :src="imageData.sideRGB">
                            <div class="card-footer">
                                <div class="card-title">側鏡頭</div>
                            </div>
                        </div>
                    </div>

                    <div class="w-100 mb-5"></div>

                </div>
            </div>
            <div class="action-bar">
                <button type="button" class="btn btn-dark mx-2" :class="{active: action=='manual'}" @click="ChangeAction('manual');">手動巡航</button>
                <button type="button" class="btn btn-dark mx-2" :class="{active: action=='follow'}" @click="ChangeAction('follow');">跟隨模式</button>
                <button type="button" class="btn btn-dark mx-2" :class="{active: action=='auto'}" @click="ChangeAction('auto');">自動巡航</button>
            </div>

            <div class="bottom-panel" :class="{open: action=='manual' }" v-touch:end="StopJoystick" v-touch:moving="MoveJoystick">
                <div class="d-flex justify-content-around align-items-center h-100">
                    <div id="joystick" class="joystick" v-touch:start="StartJoystick">
                        <div class="arrow-up"></div>
                        <div class="arrow-down"></div>
                        <div class="arrow-left"></div>
                        <div class="arrow-right"></div>
                        <div class="circle-center"></div>
                        <div class="touch-indicator" v-show="joystick.touch" :style="GetJoystickPos()"></div>
                    </div>
                    
                    <div class="d-flex flex-column">
                        <div class="btn btn-dark m-2">
                            <div class="d-flex align-items-center">
                                <span class="material-icons">place</span> 新增定位點
                            </div>
                        </div>
                        <div class="btn btn-dark m-2" @click="ChangeAction('');">
                            <div class="d-flex align-items-center">
                                <span class="material-icons">close</span> 結束巡航
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-panel" :class="{open: action=='follow' }">
                <div class="btn" @click="ChangeAction('');">結束跟隨</div>
            </div>

            <div class="modal-panel" v-show="action=='auto' ">
                <div class="content-container">
                    <div class="btn" @click="ChangeAction('');">關閉</div>
                </div>
            </div>

            <div class="loading-page" v-show="loading">
                <div class="logo-container">
                    <img class="logo" src="static/image/logo.png">
                    <h3 class="text-center m-2">田間巡航艦</h3>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue2-touch-events@2.3.2/index.min.js"></script>
        <script src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
        <script src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/spacetime@6.6.4/builds/spacetime.min.js"></script>
        <script src="static/js/main.js?v={{config.version}}"></script>
    </body>
</html>