@charset "UTF-8";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體", "Microsoft JhengHei";
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.vapaa-cruiser {
  width: 100%;
  height: 100%;
  position: relative;
}

.vapaa-cruiser .topbar {
  position: fixed;
  z-index: 2100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  width: 100%;
  height: 60px;
  background-color: #555555;
}

.vapaa-cruiser .topbar .icon {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.vapaa-cruiser .topbar .title {
  color: #ffffff;
  margin: 0px 10px;
  font-size: 1.2em;
}

.vapaa-cruiser .spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.vapaa-cruiser .main-content {
  height: 100%;
  padding: 80px 10px 150px 10px;
  overflow: auto;
}

.vapaa-cruiser .map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.vapaa-cruiser .map-container .map {
  width: 100%;
  height: 100%;
}

.vapaa-cruiser .map-container .map::after {
  content: "";
  display: block;
  padding-bottom: 75%;
}

.vapaa-cruiser .action-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0px;
  bottom: 0px;
  background-color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3000;
}

.vapaa-cruiser .pos-top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2000;
}

.vapaa-cruiser .pos-top {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2000;
}

.vapaa-cruiser .pos-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2000;
}

.vapaa-cruiser .pos-bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2000;
}

.vapaa-cruiser .pos-bottom {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2000;
}

.vapaa-cruiser .pos-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2000;
}

.vapaa-cruiser .us-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.5em;
}

.vapaa-cruiser .us-indicator.safe {
  background-color: #33ff33;
  color: #000000;
}

.vapaa-cruiser .us-indicator.warn {
  background-color: #ffff33;
  color: #000000;
}

.vapaa-cruiser .us-indicator.danger {
  background-color: #ff3333;
  color: #ffffff;
}

.vapaa-cruiser .bottom-panel {
  position: fixed;
  bottom: -200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 500px;
  max-width: 100%;
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 0px 5px 10px #333333;
          box-shadow: 0px 5px 10px #333333;
  -webkit-transition: bottom .5s;
  transition: bottom .5s;
  z-index: 3000;
}

.vapaa-cruiser .bottom-panel.open {
  bottom: 0px;
}

.vapaa-cruiser .bottom-panel .joystick {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #333333;
}

.vapaa-cruiser .bottom-panel .joystick .arrow-up {
  position: absolute;
  color: #ffffff;
  font-size: 1.5em;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.vapaa-cruiser .bottom-panel .joystick .arrow-up::after {
  font-family: "Material Icons";
  -webkit-font-feature-settings: 'liga';
}

.vapaa-cruiser .bottom-panel .joystick .arrow-up::after {
  content: "keyboard_arrow_up";
}

.vapaa-cruiser .bottom-panel .joystick .arrow-down {
  position: absolute;
  color: #ffffff;
  font-size: 1.5em;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.vapaa-cruiser .bottom-panel .joystick .arrow-down::after {
  font-family: "Material Icons";
  -webkit-font-feature-settings: 'liga';
}

.vapaa-cruiser .bottom-panel .joystick .arrow-down::after {
  content: "keyboard_arrow_down";
}

.vapaa-cruiser .bottom-panel .joystick .arrow-left {
  position: absolute;
  color: #ffffff;
  font-size: 1.5em;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.vapaa-cruiser .bottom-panel .joystick .arrow-left::after {
  font-family: "Material Icons";
  -webkit-font-feature-settings: 'liga';
}

.vapaa-cruiser .bottom-panel .joystick .arrow-left::after {
  content: "keyboard_arrow_left";
}

.vapaa-cruiser .bottom-panel .joystick .arrow-right {
  position: absolute;
  color: #ffffff;
  font-size: 1.5em;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.vapaa-cruiser .bottom-panel .joystick .arrow-right::after {
  font-family: "Material Icons";
  -webkit-font-feature-settings: 'liga';
}

.vapaa-cruiser .bottom-panel .joystick .arrow-right::after {
  content: "keyboard_arrow_right";
}

.vapaa-cruiser .bottom-panel .joystick .circle-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 40%;
  height: 40%;
  background-color: #888888;
  border-radius: 50%;
}

.vapaa-cruiser .bottom-panel .joystick .touch-indicator {
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: rgba(255, 255, 50, 0.7);
  border-radius: 50%;
}

.vapaa-cruiser .modal-panel {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.8);
  z-index: 3000;
}

.vapaa-cruiser .modal-panel .content-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 600px;
  padding: 10px;
  max-height: 100%;
  overflow-y: auto;
  max-width: 100%;
  background-color: #eeeeee;
  border-radius: 10px;
}

.vapaa-cruiser .modal-panel .content-container .map-container .map {
  max-height: 300px;
}

.vapaa-cruiser .modal-panel .content-container .table-list {
  height: 150px;
  width: 100%;
  overflow: auto;
}

.vapaa-cruiser .loading-page {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 4000;
}

.vapaa-cruiser .loading-page .logo-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.vapaa-cruiser .loading-page .logo-container .logo {
  width: 300px;
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */