html, body{
	height: 100%; margin: 0; padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

.vapaa-cruiser{
    width: 100%;
    height: 100%;
    position: relative;
    .topbar{
        display: flex;
        align-items: center;
        padding: 0px 10px;
        width: 100%;
        height: 60px;
        background-color: #555555;
        .icon{
            width: 30px;
            height: 30px;
            -webkit-filter: invert(1);
            filter: invert(1);
        }
        .title{
            color: #ffffff;
            margin: 0px 10px;
            font-size: 1.2em;
        }
    }
    .spacer{
        flex-grow: 1;
    }
    .map-container{
        width: 100%;
        height: 100%;
        position: relative;
        .map{
            width:100%;
            height: 100%;
            &::after {  //set map width:height = 4:3
                content: "";
                display: block;
                padding-bottom: 75%;
            }
        }
    }
    .action-bar{
        position: fixed;
        width: 100%;
        height: 60px;
        left: 0px;
        bottom: 0px;
        background-color: #555555;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom-panel{
        position: fixed;
        bottom: -200px;
        left: 50%;
        transform: translateX(-50%);
        width: 500px;
        max-width: 100%;
        padding: 20px;
        background-color: #eeeeee;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 5px 10px #333333;
        -webkit-transition: bottom .5s;
		transition: bottom .5s;

        &.open{
            bottom: 0px;
        }
        .joystick{
            position: relative;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #333333;
            @mixin arrow {
                position: absolute;
                color: #ffffff;
                font-size: 1.5em;
                &::after {
                    font-family: "Material Icons";
                    -webkit-font-feature-settings: 'liga';
                }
            }
            .arrow-up{
                @include arrow;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
                &::after {
                    content: "keyboard_arrow_up";
                }
            }
            .arrow-down{
                @include arrow;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                &::after {
                    content: "keyboard_arrow_down";
                }
            }
            .arrow-left{
                @include arrow;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                &::after {
                    content: "keyboard_arrow_left";
                }
            }
            .arrow-right{
                @include arrow;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
                &::after {
                    content: "keyboard_arrow_right";
                }
            }
            .circle-center{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 40%;
                height: 40%;
                background-color: #888888;
                border-radius: 50%;
            }
            .touch-indicator{
                position: absolute;
                width: 30%;
                height: 30%;
                background-color: rgba(255,255,50,0.7);
                border-radius: 50%;;
            }
        }
    }

    .modal-panel{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(50,50,50,0.8);
        z-index: 1000;
        .content-container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 600px;
            height: 400px;
            padding: 10px;
            max-height: 200%;
            max-width: 100%;
            background-color: #eeeeee;
            border-radius: 10px;
        }
    }

    .loading-page{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 2000;
        .logo-container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            .logo{
                width: 300px;
                max-width: 100%;
            }
            
        }
    }
}