<launch>
    <node name="cam_capture_node" pkg="vapaa_cruiser" type="cam_capture_node.py" output="screen">
        <param name="camID" value="0"/>
        <param name="width" value="640"/>
        <param name="height" value="480"/>
        <param name="rate" value="30"/>
        <param name="flipMode" value="0"/>
    </node>
    <node name="serial_command_node" pkg="vapaa_cruiser" type="serial_command_node.py" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="115200"/>
    </node>
</launch>
